<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729744337671-i6qgnq4mc9sjqeb94dhd80d2kksn75pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729744337671-i6qgnq4mc9sjqeb94dhd80d2kksn75pq</string>
	<key>API_KEY</key>
	<string>AIzaSyAj4ui2752y4cW52R_7pPeqn8kT6ZwUJDA</string>
	<key>GCM_SENDER_ID</key>
	<string>729744337671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.post</string>
	<key>PROJECT_ID</key>
	<string>my-app-ab816</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-ab816.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729744337671:ios:91ac51d9738f3833</string>
	<key>DATABASE_URL</key>
	<string>https://my-app-ab816.firebaseio.com</string>
</dict>
</plist>